/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-regular.woff") format("woff"), url("../fonts/montserrat-v18-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v18-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v18-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-700.woff") format("woff"), url("../fonts/montserrat-v18-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v18-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  /* IE 10-11 didn't like using min-height */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.container.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: red;
  padding: 0 20px;
  overflow-y: hidden;
}
nav .wrap-nav {
  align-items: center;
  font-size: 24px;
  display: flex;
  color: #fff;
}
nav .wrap-nav span:first-child {
  padding-right: 15px;
}
nav .logo {
  max-height: 50px;
  align-items: center;
  display: flex;
  font-weight: 700;
}
nav .logo img {
  height: 50px;
  padding-right: 5px;
}/*# sourceMappingURL=style.css.map */