<!-- sidebar -->
<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header class="new-color">
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <img class="logo" src="./assets/images/logo-ibi.png" />

      <ion-list>
        <ion-menu-toogle>
          <ion-item routerLink="/home">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Beranda</ion-label>
          </ion-item>
        </ion-menu-toogle>
        <ion-menu-toogle>
          <ion-item routerLink="/fasilitas">
            <ion-icon name="archive" slot="start"></ion-icon>
            <ion-label>Layanan & Fasilitas</ion-label>
          </ion-item>
        </ion-menu-toogle>
        <ion-menu-toogle>
          <ion-item routerLink="/Advokasi">
            <ion-icon name="star" slot="start"></ion-icon>
            <ion-label>Advokasi</ion-label>
          </ion-item>
        </ion-menu-toogle>
        <ion-menu-toogle>
          <ion-item routerLink="/pengaduan">
            <ion-icon name="alert" slot="start"></ion-icon>
            <ion-label>Pengaduan Pusat</ion-label>
          </ion-item>
        </ion-menu-toogle>
        <ion-menu-toogle>
          <ion-item button (click)="logout()">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Log Out</ion-label>
          </ion-item>
        </ion-menu-toogle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
