:root {

  --border-color: red !important;
}

ion-menu {
  --ion-background-color: white;
  --ion-text-color: rgba(16, 61, 90, 255);


  ion-toolbar {
    --background: red;
    --ion-text-color: #fffdf0;
  }

  ion-list {
    /* optional, but it needs when you use gradient as a background color.*/
    background: transparent;
    font-weight: bold;
  }

}

ion-menu {
  --width: 70%;
}

ion-icon {
  margin-right: 0.8em;
  color: rgb(231, 231, 231);
}

ion-item {
  border: unset;
}

.item .sc-ion-label-md-h {
  font-family: "Montserrat";
}


.logo {
  margin: 1em auto;
  width: 50%;
  display: block;
}
