<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"> </ion-menu-button>
      <img src="./assets/images/logo-ibi.png" width="55" style="display: block;
      text-align: left;
      " />
      <p style="font-size: 20px; font-family: Montserrat;
  font-weight: 700;">IBI</p>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <section>
    <div class="banner-home">
      <img src="./assets/images/banner-1.svg" alt="">
    </div>
  </section>
  <div id="container">
    <section>
      <div class="container wrap-splash">
        <div class="wrap-card">
          <div class="card">
            <a href="#">
              <img src="./assets/images/bidan.png" alt="">
              <div class="text">
                <h5>Bidan</h5>
                <p>Masuk sebagai Bidan</p>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
              <img src="./assets/images/user.png" alt="">
              <div class="text">
                <h5>Pengguna</h5>
                <p>Masuk sebagai Pengguna</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </section>
    <section>
      <div class="container feat-home">
        <ion-row class="flex">
          <ion-col size="4" class="">
            <img src="./assets/images/no-img.jpg" alt="">
            Fasilitas
          </ion-col>
          <ion-col size="4" class="">
            <img src="./assets/images/no-img.jpg" alt="">
            Advokasi
          </ion-col>
          <ion-col size="4" class="">
            <img src="./assets/images/no-img.jpg" alt="">
            Pengaduan
          </ion-col>
        </ion-row>

      </div>
      <div class="wrap-supportby">
        <p>Didukung oleh :</p>
        <img src="./assets/images/kemenkes.logo.png" alt="">
      </div>
    </section>

  </div>
</ion-content>
