* {
  text-decoration: none;
}

ion-content {
  background-color: rgb(255, 244, 244);
}

.container {
  padding: 15px 15px;

}

.wrap-card {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
}

// banner

.banner-home img {
  width: 100%;
}

// card

.card {
  background-color: #ffffff;
  box-shadow: 0px 16px 12px -8px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0px 16px 12px -8px rgba(0, 0, 0, 0.09);
  border-radius: 10px;

  h5 {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto;
    color: #666;
  }

  p {
    font-size: 14px;
    margin: 0;
    color: #666;

  }

  a {
    display: flex;
    border-radius: 5px;
    padding: 10px 10px;
    align-items: center;

    img {
      height: 50px;
      padding-right: 0.5em;
      left: 0px !important;
      position: relative !important;
      margin-left: 1em;
      margin-right: 0.8em;
    }

  }

  :active,
  :hover {
    background-color: #fafafa;
    border-radius: 10px;

    h5 {

      color: rgb(250, 106, 106);
    }

    img {
      border-radius: 0;
    }
  }

}


.wrap-supportby {
  position: relative;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 3em 0 2em;

  p {
    font-size: 12px;
    font-family: "Montserrat";
    margin: 0;
  }

}


.wrap-supportby img {
  padding-top: 1em;
  max-height: 70px;
}

// feature home

.feat-home {
  text-align: center;

  * {
    font-family: "Montserrat";
    font-size: 13px;
    color: #e81e1e;

  }
}

.feat-home ion-row img {
  width: 100%;
  padding-bottom: 0.5em;
}


// 
.center {
  text-align: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}



ion-content {
  --background: #white;
}

ion-toolbar {
  --background: red;
  --ion-text-color: #ffffff;
}
